<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title mb-3">partenair</h1>
            <p class="section-desc text-muted">
                Nos partenaires ne sont pas seulement des fournisseurs - ce sont des visionnaires, des innovateurs et des experts dans leurs domaines respectifs. Leur engagement envers l'excellence s'harmonise parfaitement avec le nôtre, et ensemble, nous créons une synergie qui rehausse l'expérience globale pour nos clients.</p>
  
            <div class="awards-carousel"> 
                <div class="swiper-container h-100" [swiper]="config"> 
                    <div class="swiper-wrapper h-100">      
                        <div *ngFor="let award of awards" class="swiper-slide">
                            <div class="award-item"> 
                                <img [attr.data-src]="award.image" class="swiper-lazy"> 
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
                
        </div>
    </div>   
  </div>