<footer>    
    <div class="px-3">
        <div class="theme-container"> 
            
            <div class="py-5 content border-lighter"> 
                <div fxLayout="row wrap" fxLayoutAlign="space-between"> 
                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45"> 
                        <a class="logo" routerLink="/"><app-logo></app-logo></a>
                        <p class="mt-4 mb-3 desc">
                            La Société d'Équipements Hôteliers, communément appelée SEH, se distingue en tant qu'entreprise spécialisée dans les équipements dédiés aux secteurs hôteliers et de la restauration. Forte de son expertise, la SEH s'engage à fournir des solutions de qualité supérieure pour répondre aux besoins spécifiques de l'industrie. Que ce soit pour l'aménagement d'hôtels élégants ou pour l'équipement de restaurants renommés, notre entreprise s'efforce de fournir des produits exceptionnels qui allient fonctionnalité et esthétique. 
                        </p>
                                                <p fxLayout="row" fxLayoutAlign="start center" class="mt-2">
                            <mat-icon color="primary">location_on</mat-icon>
                            <span class="mx-2">Ain Zaghouan SEH Societé Equipement Hoteliers, V74J+RGC, Tunis</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">call</mat-icon>
                            <span class="mx-2">(+216) 70 725 240</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">    
                            <mat-icon color="primary">mail_outline</mat-icon>
                            <span class="mx-2">contact&#64;seh.com.tn</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">Rendew-vous</mat-icon>
                            <span class="mx-2">8:00AM - 18:00PM</span>
                        </p>
                        <app-social-icons [iconSize]="'lg'" fxLayout="row" fxLayoutAlign="start center" class="desc"></app-social-icons>                    
                    </div>

                    
 
                    <div fxFlex="100" fxFlex.gt-sm="30" ngClass.lt-md="pt-5"> 
                        <h1 class="secondary-font mb-3">notre emplacement</h1>  
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.62490376784!2d10.187105575774192!3d36.89932067221899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2b549f2703fb9%3A0x24915a308fa3dec3!2sSEH%20Soci%C3%A9t%C3%A9%20Equipement%20Hoteliers!5e0!3m2!1sfr!2stn!4v1686329613941!5m2!1sfr!2stn" width="90%" height="450" style="border:0; border-radius: 15px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                </div>  
            </div> 
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright py-2">
                <p ngClass.xs="mt-1">Copyright © 2024 All Rights Reserved</p>  
                <p>Designed & Developed by <a mat-button href="https://jemsit.com/" color="warn" target="_blank">J  E  M  S  I  T</a></p>
            </div> 
        </div>
    </div>      
</footer>