<mat-card class="p-0">
    <div class="mat-mdc-table theme-table header-sm truncated">
      <div class="mat-mdc-header-row">
        <div class="mat-mdc-header-cell">Nom</div>
        <div class="mat-mdc-header-cell">Email</div>
        <div class="mat-mdc-header-cell">Message</div>
        <div class="mat-mdc-header-cell">Telephone</div>
      </div>
      <div *ngFor="let order of orders" class="mat-mdc-row">
        <div class="mat-mdc-cell">{{order.name}}</div>
        <div class="mat-mdc-cell" >{{order.email}}</div>
        <div class="mat-mdc-cell">{{order.message}}</div>
        <div class="mat-mdc-cell" >{{order.phone}}</div>
      </div>
    </div>
  </mat-card>
    