<a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon class="mat-icon-sm m-0">person</mat-icon>
    <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'ACCOUNT' | translate }}</span> 
    <mat-icon class="mat-icon-sm caret" iconPositionEnd>arrow_drop_down</mat-icon>
</a>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
    <span (mouseleave)="userMenuTrigger.closeMenu()">
       
        <div class="divider"></div>
        <!-- <a mat-menu-item routerLink="/account/dashboard"> 
            <mat-icon class="mat-icon-sm">settings</mat-icon>
            <span>Account Settings</span> 
        </a> 
        <a mat-menu-item routerLink="/account/favorites"> 
            <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
            
        </a> 
        <a mat-menu-item routerLink="/account/profile"> 
            <mat-icon class="mat-icon-sm">edit</mat-icon>
            <span>Edit Profile</span> 
        </a>
        <a mat-menu-item routerLink="/lock-screen"> 
            <mat-icon class="mat-icon-sm">lock</mat-icon>
            <span>Lock screen</span> 
        </a>
        <a mat-menu-item routerLink="/faq"> 
            <mat-icon class="mat-icon-sm">help</mat-icon>
            <span>Help</span> 
        </a>-->
        <div class="divider"></div>
        <a mat-menu-item routerLink="/login"> 
            <mat-icon class="mat-icon-sm">input</mat-icon>
            <span>Sign In</span> 
        </a>
    </span>
</mat-menu>  