.testimonials-carousel{  
      
    .swiper-container{
        padding-bottom: 50px;
        .content{
            max-width: 1650px;
            margin: 0 auto; 
            img{
                max-width: 100%;
                
                border-radius: 5%;
                width: 800px;
                height: auto;
            }
            .quote{
                font-size: 50px; 
                line-height: 14px; 
                &.open{
                    margin-top: 24px;
                }
                &.close{
                    margin-bottom: 24px;
                }           
            }
            .text{ 
                font-weight: 500; 
            } 
        }
    }
}