<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="true" 
                  [contentOffsetToTop]="true"  
                  [title]="'About Us'"
                  [desc]="''">
</app-header-image>  

<div class="px-3">
    <div class="theme-container">
        <mat-card class="main-content-header"> 
            <div class="section pt-1 px-3 mt-0"> 
                <h1 class="section-title">Société d'équipements</h1> 
                <p>SEH Société d'équipements hôteliers vous accueille sur son site web http://www.seh.com.tn/fr/ pour vous présenter une gamme complète de matériel de qualité essentiel pour votre cuisine professionnelle. Nous mettons à votre disposition une sélection minutieuse de produits offrant le meilleur rapport qualité/prix pour répondre à vos besoins culinaires. Chez SEH, nous sommes spécialisés dans la fabrication de comptoirs de cuisine personnalisés, réalisés avec une haute précision pour s'adapter parfaitement à vos exigences. En collaborant avec les plus grandes marques d'équipements et d'outils tels que GEL MATIC, UNOX, FAMA, Resto Italia, Laspaziale, nous garantissons la satisfaction de nos clients en offrant des solutions fiables et performantes. N'hésitez pas à nous contacter au 70 725 240 pour toute information ou demande particulière. Chez SEH, l'excellence dans l'équipement hôtelier est notre engagement.</p>
                  
                <div fxLayout="row wrap"> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3"> 
                        <img src="assets/images/others/homepage2.jpg" alt="about-1" class="mw-100">
                    </div> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.gt-sm]="(settings.rtl) ? 'pr-5' : 'pl-5'"> 
                        <h1 class="secondary-font primary-color text-center">Nos services</h1>
                        <p>Nos services chez SEH Société d'équipements hôteliers sont conçus pour répondre à toutes vos exigences en matière d'équipement de cuisine professionnelle. Nous proposons une vaste gamme de produits de qualité supérieure, indispensables pour assurer le bon fonctionnement de votre cuisine. Que vous ayez besoin d'équipements de cuisson, de réfrigération, de préparation ou d'autres accessoires essentiels, SEH met à votre disposition une sélection minutieuse de matériel au meilleur rapport qualité/prix. </p>
                        <p>Notre expertise ne se limite pas seulement à la fourniture d'équipements, nous nous spécialisons également dans la fabrication de comptoirs de cuisine personnalisés, fabriqués avec une haute précision pour répondre à vos besoins spécifiques. En tant que partenaires des plus grandes marques telles que GEL MATIC, UNOX, FAMA, Resto Italia, Laspaziale, nous garantissons des solutions fiables et performantes. Faites confiance à SEH pour vous accompagner dans l'équipement complet de votre cuisine professionnelle, et contactez-nous au 70 725 240 pour bénéficier de nos services exceptionnels.</p>
                    </div> 
                </div> 

                <div fxLayout="row wrap" class="mt-3">  
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.gt-sm]="(settings.rtl) ? 'pl-5' : 'pr-5'"> 
                        <h1 class="secondary-font primary-color text-center">Choisir SEH Société d'équipements hôteliers</h1>
                        <p>En tant que collaborateurs avec les plus grandes marques telles que GEL MATIC, UNOX, FAMA, Resto Italia, Laspaziale, nous vous assurons l'accès à des équipements de pointe, reconnus pour leur fiabilité et leur efficacité. Notre équipe dévouée est prête à vous accompagner tout au long du processus, de la sélection des produits à la livraison et à l'installation. De plus, notre engagement envers un excellent rapport qualité/prix vous offre une solution économique sans compromis sur la qualité.</p>
                        <p>En travaillant avec SEH, vous bénéficiez d'une expérience complète et personnalisée dans le domaine de l'équipement hôtelier. N'hésitez pas à nous contacter au 70 725 240 pour discuter de vos besoins spécifiques et découvrir comment nous pouvons contribuer au succès de votre cuisine professionnelle. Chez SEH, nous sommes déterminés à dépasser vos attentes et à établir une relation durable basée sur la confiance et la satisfaction client.
                        </p>
                    </div> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3"> 
                        <img src="assets/images/others/homepage.jpg" alt="about-2" class="mw-100">
                    </div> 
                </div> 
    
                <div fxLayout="row wrap" class="flex-wrapper mt-3"> 
                    <div fxFlex="100" class="px-3">
                        <p>
                            Choisir SEH Société d'équipements hôteliers comme partenaire pour l'équipement de votre cuisine professionnelle présente de nombreux avantages. Tout d'abord, notre engagement envers la qualité est inébranlable. Nous offrons des produits de haute qualité, soigneusement sélectionnés pour garantir la performance, la durabilité et la satisfaction de nos clients. Notre expertise dans la fabrication de comptoirs de cuisine personnalisés démontre notre capacité à répondre précisément à vos besoins spécifiques, avec une attention particulière à la précision et au design.</p>
                    </div> 
                </div> 
                <div fxLayout="row wrap" class="flex-wrapper mt-5"> 
 
                    
                    
                    
                    
                    
                </div>
                
            </div>  
        </mat-card>  
    </div> 
</div>    

<app-our-awards></app-our-awards>  
