<mat-toolbar color="primary" class="admin-toolbar mat-elevation-z2">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">  
        <div fxLayout="row" fxLayoutAlign="center center"> 
            <div class="logo-section" fxShow="false" fxShow.gt-xs> 
                <a routerLink="/admin"><app-logo></app-logo></a> 
            </div>                    
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>  
            
            <button fxShow="false" fxShow.gt-xs mat-icon-button (click)="settings.adminSidenavUserBlock = !settings.adminSidenavUserBlock">
                <mat-icon>person</mat-icon>
            </button>    
            
            <a mat-icon-button routerLink="/"><mat-icon>home</mat-icon></a>                 
        </div>            
        <div fxLayout="row" fxLayoutAlign="end center">   
            
            <app-fullscreen></app-fullscreen>  
            <app-messages fxShow="false" fxShow.gt-xs></app-messages>
            <app-user-menu></app-user-menu> 
        </div>
    </div>
</mat-toolbar>
<mat-drawer-container class="admin-container"> 
    <mat-drawer #sidenav [opened]="settings.adminSidenavIsOpened" [mode]="(settings.adminSidenavIsPinned) ? 'side' : 'over'" class="admin-sidenav mat-elevation-z6" autoFocus="false">
        <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover"> 
            <div fxLayout="column" fxLayoutAlign="center center" class="user-block transition-2" [class.show]="settings.adminSidenavUserBlock"> 
                <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info-wrapper">
                    <img [src]="userImage" alt="user-image">
                    <div class="user-info">
                        <p class="name">User</p>
                        <p class="position">Project Editor <br> <small class="muted-text">SEH Admin Dashboard</small></p>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100 muted-text">

                    <a mat-icon-button routerLink="/login" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>power_settings_new</mat-icon>
                    </a>
                </div>
            </div> 
            <app-admin-menu [menuItems]="menuItems" [menuParentId]="0"></app-admin-menu>
        </ng-scrollbar>
    </mat-drawer> 
    <mat-drawer-content>  
        <app-breadcrumb></app-breadcrumb>  
        <router-outlet></router-outlet>  
    </mat-drawer-content>    
</mat-drawer-container>