<app-header-image *ngIf="settings.header == 'image'" 
                [backgroundImage]="'assets/images/others/homepage.jpg'"
                [bgImageAnimate]="true"
                [contentOffsetToTop]="true"
                [title]="'Bienvenue a SEH'"
                [desc]="'Equipements Hôteliers et Restaurations '"
                [isHomePage]="false"
                [fullscreen]="true">
</app-header-image> 

<app-header-carousel *ngIf="settings.header == 'carousel'" 
                    [slides]="slides" 
                    [contentOffsetToTop]="false"
                    [fullscreen]="true">
</app-header-carousel>

<app-header-video *ngIf="settings.header == 'video'" 
                [backgroundVideo]="'assets/images/others/test.mp4'" 
                [contentOffsetToTop]="true"
                [title]="'Bienvenue a SEH'"
                [desc]="'Equipements Hôteliers et Restaurations '"
                [isHomePage]="false"
                [fullscreen]="true">
</app-header-video>
  


<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">À propos de nous</h1> 
            <p class="section-desc text-muted">SEH-Société d'équipements Hôteliers et Restaurations. </p>
            <mat-card class="p-0 o-hidden" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" style="overflow: hidden; height: 50%;">
                    <img src="assets/images/others/about-us.jpg" alt="about" class="mw-100 d-block">
                </div>
                
                <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="py-3 px-4">
                    <h1 class="secondary-font primary-color mb-2">Bienvenue chez SEH</h1>
                    <p> Nous sommes fiers de servir l'industrie en offrant des équipements de qualité, une satisfaction clientèle exceptionnelle et une quête incessante de l'excellence.</p>
                    <p> la qualité sans compromis est essentiel. Notre engagement envers l'excellence se reflète dans chaque produit que nous offrons. Des processus rigoureux d'assurance qualité, une technologie de pointe et une équipe d'experts garantissent que nos équipements répondent, voire dépassent, les normes de l'industrie.</p>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="pt-3">
                        <a mat-raised-button routerLink="/about" color="primary" class="uppercase">Plus</a>
                    </div> 
                </div>  
            </mat-card>
        </div>
    </div>   
</div>

<div class="section default mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">équipements Hôteliers et Restaurations</h1>
            <p class="section-desc text-muted">Découvrez nos produits.</p> 
            <app-menu-items-carousel [menuItems]="specialMenuItems"></app-menu-items-carousel>
            <div fxLayout="row" fxLayoutAlign="center center">
                <a mat-raised-button routerLink="/menu" color="primary" class="uppercase">View all menu</a>
            </div>  
        </div>
    </div>   
</div> 


<!-- This is a comment in HTML -->
<!-- <app-our-services></app-our-services> 
//<app-our-chefs></app-our-chefs>  
//<app-timeline></app-timeline> --> 

<div class="section">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title mb-3">Reservation</h1>
            <p class="section-desc text-muted">We provide free, secure and instantly confirmed Rendez-vous.</p>
            <mat-card class="p-0" ngClass.lt-md="px-2 pb-2">
                <app-reservation-form></app-reservation-form>  
            </mat-card> 
        </div>
    </div>   
</div>   
<app-our-awards></app-our-awards> 
<!-- This is a comment in HTML

<app-testimonials></app-testimonials>  
<app-get-app></app-get-app>
<app-our-awards></app-our-awards> 
<app-get-in-touch></app-get-in-touch> -->