<mat-card [routerLink]="['/menu', menuItem._id]" class="menu-item p-0" [fxLayout]="(viewType == 'grid') ? 'column' : 'row'" [ngClass]="[viewType + '-item', 'column-'+column]"> 
    

    <div fxFlex="100" [fxShrink]="(viewType == 'grid') ? '3' : '2'" class="thumbnail-section">
        
        
        <img *ngIf="menuItem.Photo" [src]="getFullImageUrl(menuItem.Photo)"class="w-100 d-block">  
    </div>  
    <a [routerLink]="['/menu', menuItem._id]"> 
    <div fxFlex="100" class="p-3"> 
        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0 p-0">
                <h1 class="title">{{menuItem.Reference}}</h1>   
                <div class="mt-2"> 
                    <p>{{menuItem.Designation}}</p> 
                </div>  
            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <div class="m-0 p-0">
                <div class="features">     
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
                        <span class="px-1">Category:</span>
                        <span class="dots"></span>
                        <span class="fw-500">
                            {{ menuItem.Categorie?.Libelle }}
                            {{ (appService.categories | filterById: menuItem.Categorie?.Libelle) }}
                          </span>
                         </p>         
                </div> 
                <div fxLayout="row" fxLayoutAlign="space-between center" class="divider mt-1">         
                </div> 
            </div> 
        </div>   
    </div>  
</a> 
</mat-card>