<div class="px-3">     
    <div class="theme-container"> 
        <mat-card class="menu-single my-5 p-3">
            <div *ngIf="menuItem" fxLayout="row wrap" class="flex-wrapper">
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">   
                    <img  *ngIf="menuItem.Photo" [src]="getFullImageUrl(menuItem.Photo)" width="450">
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                    <h1 class="secondary-font">{{menuItem.Reference}}</h1> 
                    <div class="py-3"> 
                        <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                            <mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
                            <span class="px-1">Category:</span> 
                            <span class="fw-500">
                                {{ menuItem.Categorie?.Libelle }}
                                {{ (appService.categories | filterById: menuItem.Categorie?.Libelle) }}</span>
                            </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                            <mat-icon color="primary" class="mat-icon-sm">{{ (menuItem > 0) ? 'check_circle' : 'unpublished'}}</mat-icon>
                            <span class="px-1">Designation:</span> 
                            <span class="fw-500">{{ (menuItem.Designation)}}</span>
                        </p>
                     
                        
                    </div>   
                    <div fxLayout="row" fxLayoutAlign="start center" class="text-muted divider pt-3">
                        <span class="fw-500">Share: </span>
                        <app-social-icons fxLayout="row" fxLayoutAlign="start center"></app-social-icons> 
                    </div>  
                    <ul class="p-3">
                    </ul> 
                    <div fxLayout="row" fxLayoutAlign="start center" class="divider pt-3">
                        <span class="fw-500">Vous Etes Le Bienvenue</span>
                        <img src="assets/images/others/SEH.png" alt="payments" class="mx-3" width="50">
                    </div> 
                </div>  
             
                <div fxFlex="100" class="px-3 mt-5">
                    
                    <mat-tab-group [@.disabled]="true" [selectedIndex]="0" mat-stretch-tabs="false" mat-align-tabs="start">       
                        <mat-tab label="Description">
                            <div class="full-desc">
                                <p *ngFor="let sentence of menuItem.description.split('.')">
                                    <span class="line-icon">&#9656;</span>{{ sentence.trim() }}.
                                </p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div> 
            </div>
        </mat-card>
    </div>
</div>


<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Related Products</h1>
            <p class="section-desc text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
            <app-menu-items-carousel [menuItems]="relatedMenuItems"></app-menu-items-carousel>
        </div>
    </div>   
</div> 
 
<app-get-in-touch></app-get-in-touch>