<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
        <a mat-raised-button color="primary" routerLink="/admin/menu-items/add">
            <mat-icon class="mat-icon-md">add</mat-icon>
            Add New Menu Item
        </a>
    </div>
    <mat-divider></mat-divider>

    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- ID Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Index </th>
                <td mat-cell *matCellDef="let category; let i = index"> {{ i + 1 }} </td>
            </ng-container>
            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let menuItem">
                    <img  *ngIf="menuItem.Photo"  [src]="getFullImageUrl(menuItem.Photo)" width="60">
                </td>
            </ng-container>
            
            
            
            

            <!-- Category Column -->
            <ng-container matColumnDef="categoryId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let menuItem"> {{( appService.categories | filterById : menuItem.categoryId )?.Libelle}}  </td>
            </ng-container> 

            <!-- Name Column -->
            <ng-container matColumnDef="Reference">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.Reference}} </td>
            </ng-container> 

            <!-- Price Column -->
            <ng-container matColumnDef="Designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.Designation}} </td>
            </ng-container> 


            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let menuItem"> 
                    <a mat-icon-button color="primary" [routerLink]="['/admin/menu-items/add', menuItem._id]" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </a> 
                    <button mat-icon-button color="warn" (click)="remove(menuItem)" matTooltip="Remove">
                        <mat-icon>delete</mat-icon>
                    </button>   
                </td>
            </ng-container>  
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let menuItem; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>